.genpdfbtn{
    background-color: rgb(21, 93, 252); 
}

.cursPointer {
    cursor: pointer;
}

.greenBtn {
    background-color: #00c951;
}

.redBtn {
    background-color: #fb2c36;

}
.blueBtn {
    background-color: #1447e6;
}
.grayBtn {
    background-color: gray;
}


@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeInDown {
  animation: fadeInDown 0.4s ease-in-out;
}