.genpdfbtn{
    background-color: rgb(21, 93, 252); 
}

.cursPointer {
    cursor: pointer;
}

.greenBtn {
    background-color: #00c951;
}

.redBtn {
    background-color: #fb2c36;

}
.blueBtn {
    background-color: oklch(54.6% 0.245 262.881);
}

.blueText {
    color: oklch(48.8% 0.243 264.376) ;
}

.blueBackground {
    background-color: oklch(48.8% 0.243 264.376);
}
.grayBtn {
    background-color: oklch(0.446 0.03 256.802);
}


@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeInDown {
  animation: fadeInDown 0.4s ease-in-out;
}